.toggle-bar {
  display: flex;
  flex-direction: column;
}

.toggle-bar-row {
  display: inline-flex;
  width: 100%;
}

.button-user {
  flex: 1;
  background-color: #969696;
}

.button-user-selected {
  flex: 1;
  background-color: #03b309;
}
