.toggle-bar-row {
  display: inline-flex;
  height: 55px;
  width: 100%;
}

.toggle-bar-row > button {
  flex: 0 0 20%;
  background-color: #969696;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #696969;
}

.toggle-bar-row > button:first-child {
  border-radius: 8px 0 0 8px;
}

.toggle-bar-row > button:last-child {
  border-radius: 0 8px 8px 0;
}

.selected {
  background-color: #03b309 !important;
}
